# =============================================================================
# GETTING STARTED
# Please COPY this file into place, please leave this example as a reference.
#
# cp etc/config.yaml.example etc/config.yaml
# =============================================================================

# =============================================================================
# IP - REQUIRED
# Set the ip address of the cloud management server
# =============================================================================
ip:

# =============================================================================
# PORT
# Set port the app will communicate with, default 443
# =============================================================================
# port: 443

# =============================================================================
# APPNAME
# Set the app name that will appear in the applications help
# =============================================================================
# appname:
